body {
    background-color: aquamarine;
}

.p1 {
    border-style: solid;
    border-color: green;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    background-image: url('star-image2.jpg');
    background-position: center;
    background-size: contain;
    margin: 0 0 25px;
}

.leaf {
    list-style-type: none;
    background: url('http://www.techforluddites.com/images/leaf_icon.jpg') no-repeat top left;
    height: 46px;
    padding-left: 40px;
}

.taka {
    float: right;
    margin: 10px;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.taka:hover {
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
#taku {
    font-size: 32pt;
    font-family: arial;
}
#taku:hover
{
	color: white;

}

h2.w {
    color: blue;
}

h2.v {
    font-size: 30pt;
}

li.red {
    color: red;
}

li.green {
    color: green;
}

li.blue {
    color: blue;
}

a.mar {
    margin-right: 2cm;
}

.a1 {
    background-color: red;
}

.a2 {
    background-color: purple;
}

.a3 {
    background-color: white;
}

.a4 {
    font-size: 20pt;
}